.App {
  text-align: center;
}
.namesList {
  background: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.babyName {
  margin: 10px;
  background: lightgreen;
  padding: 5px;
  border-radius: 3px;
}
.favouritesList {
  background: gray;
  margin: 20px 0;
  padding: 20px;
}
